@font-face {
  font-family: "Poppins-Regular";
  src: url("../src/assets/Poppins-Regular.ttf") format("truetype");
}

#root {
  --main-color: green;
  --second-color: blue;
  --font-color: black;
  --main-font: "Poppins-Regular", sans-serif;
}

html,
body,
h1,
ul,
form {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}
